# Virtual environment
venv/

# Environment variables
.env

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# Logs
*.log

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db


etl/*.txt